
.App {
  text-align: center;
}

.App-header {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.App-form {
  padding-top: 10px;
  padding-bottom: 5px;
}

.form-control, .btn {
  margin-bottom: 10px;
}

h1 {
  font-size: 28px;
}

h2 {
  padding-top: 5px;
  font-size: 20px;
}

h1, h2 {
  display: inline;
  text-align: left;
}
